*{
     margin: 0;
     padding: 0;
}

body{
     background: url("Y:\HTML PROJECTS/back 2.png");
     background-size: 100%;
     background-position: 19199px 1000009px;       
}

div.main{
     width: 400px;
     margin: 100px auto 0 auto;
}

h2{
     text-align: center;
     padding: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

div.register{
     background-color: rgba(0,0,0,0.6);
     width: 100%;
     font-size: 12.5px;
     border-radius: 10px;
     border: 1px solid rgba(27, 67, 67, 0.155);
     box-shadow: 2px 2px 15px rgba(0,0,0,0.4);
     color: rgb(169, 255, 255);
}

form#register{
     margin: 40px;
}

label{
     font-family: 'Times New Roman', Times, serif;
     font-size: 18px;
     font-style: italic;
}

input#name{
     width: 300px;
     border: 1px transparent;
     border-radius: 3px;
     outline: 0;
     padding: 7px;
     background-color: white;
     box-shadow: inset 1px 1px 5px grey;
}

input#submit{
     width: 200px;
     padding: 7px;
     font-size: 16px;
     font-family: monospace;
     font-weight: 600;
     border-radius: 3px;
     background-color: grey;
     color: beige;
     cursor: pointer;
     border: 1px solid peachpuff;
     box-shadow: 1px 1px 5px grey;
     margin-bottom: 20px;
}

label,span,h2{
     text-shadow: 1px 1px 5px black;
}